body {
    background-color: red;
}
header, footer {
    height: 100px;
    width: 100%;
    background-color: blue;
    text-align: center;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-card {
    width: 300px;
    height: 450px;
    background-color: rgb(212, 215, 212);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h2 {
    color: gold;
    text-shadow: 0 0 10px black;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.parent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main {
    padding: 20px;
}
img {
    border-radius: 50%;
    object-fit: cover;
}